@use '../abstract' as *;

.header {
    background-color: map-get($map: $color-bg, $key: 'neutral');
    display: flex;
    padding: 10em 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    h1 {
        color: $color-accent;
    }

    .avatar {
        border-radius: 50rem;
        width: 15vw;
    }
}