.skills {
    background-color: hsl(0, 0%, 55%);

    ul {
        display: flex;
        gap: 1em;

        li {
            width: 100%;
            aspect-ratio: 3/2;
            text-align: center;
            border: .1rem solid #000;
            display: inline-block;
        }

    }
}