backColor = #FFF
cardColor = #F5F5F5
titleColor = #364F6B
textColor = #112031
subtitleColor = #364F6B
focusTextColor = #DF7861
secondaryColor = #DF7861

title-text-size = 35px
icons-size = 30px
text-size = 18px
subtitle-text-size = 25px
focus-text-size = 22px

max-width-1 = 980px

gap-between = 50px

title-font-family = serif
text-font-family = sans-serif