.About 
  &-details
    flex: 1
    margin-left 25px

  &-title
    color white
    font-size 32px
    font-weight bold
    margin-top 50px
    margin-bottom 5px

  &-job-title
    color white
    font-size 20px
    margin-bottom 25px

  &-contact 
    display flex
    list-style none
    padding 0

    & > :not(:first-child) 
      margin-left 25px
