.About-image
    border-radius: 50%
    border: 4px solid #FFF
    grid-column-start: 1
    grid-row-start: 1
    grid-row-end: 3
    height: 224px
    width: 224px

.About-title
    text-align: center

.About-items
    grid-column-start: 2
    grid-row-start: 2

.About-items > ul
    list-style-type: none

.About-items > ul > li
    padding-right: 5px

.About-rss > li
    float: left

.About-rss > li:after
    content: " ☭ "
    color: red
