.About-container {
    display: flex;
    flex-direction: column;
    gap: 0em;
    width: 100%;
    margin: 0;
    padding: 0;
}

.About-container a {
    padding-right: 1em;
    color: var(--white-text);
}