.About
  display flex
  flex-direction column
  margin 10px auto 10px auto
  
  .About-title
    display none

  .About-item
    padding 5px
    color: inherit;
  .About-email
    text-decoration: none;
    color: inherit;
  .About-website
    text-decoration: none;
    color: inherit;
