@require "Container.styl"

.Academic
  @extends .SplitContainer
  grid-column 1/2
  grid-row 4/5
  border-top-color black
  .Academic-title
    text-align center
  .Academic-item
    margin-bottom 1rem

