@import '../_variables.styl';

.Academic
    &-item + &-item
        margin-block-start: 3em
    
    &-title
        margin: 0
        margin-block-end: 1em
    
    &-description
        width: 35ch