.Academic
  padding: .5rem
  borderContainerThin()
  .Academic-title
    text-align: center
    margin: 0
    font-size: 1.4rem
    text-decoration: underline
  .academic-list
    padding-left: 0
    list-style none
    .Academic-item
      margin-bottom: 2rem
      h3
        font-size: 1.1rem
        margin-bottom: .7rem
        time
          font-weight: 300
          font-size: .8rem