.App
  height: auto
  min-height: 100vh
  max-width: 1200px;
  min-width: 390px
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  .App-subcontainer
    borderContainerBold()
    padding: 1rem
    display: grid
    gap: 1rem
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr
