@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

body
  background-color white
  padding 2em
  font-family 'Slabo 27px', serif
  min-width 707px
  
img 
  border-radius 50%
  width 150px
  height 150px


.div1
  display flex

.accd
  width 50%
  padding 2em
  background-color #BDF1D4
  margin 0.3em


.skl 
  width 50%
  padding 2em
  list-style none
  background-color #BDF1D4
  margin 0.3em
  

.div2
  display flex

.int
  width 50%
  padding 2em
  list-style none
  background-color #BDF1D4
  margin 0.3em

.lng
  width 50%
  padding 2em
  list-style none
  background-color #BDF1D4
  margin 0.3em

.abt-lst
  list-style none

.int-lst
  list-style none

.lng-lst
  list-style none
  padding-left 0

.Header
  background-color #E0F4FF
  display flex
  justify-content space-between
  padding 1em
  margin 0.3em

.exp
  padding 2em
  list-style none
  background-color #BDF1D4
  margin 0.3em

.prfl
  padding 2em
  list-style none
  background-color #BDF1D4
  margin 0.3em

.list
  display flex
  justify-content space-between

.Experience-item
  width 50%

.Academic-item
  width 50%