.Card
   background-color #16181A
   border-radius 14ox
   box-shadow 0 2px 8px 2px rgb(0 0 0 / 0.07), 0 2px 4px -1px rgb(0 0 0 / 0.04);
   height -webkit-fill-available
   padding 12px 16px
   width -webkit-fill-available;