.FullContainer
  padding 0 3rem

.SplitContainer
  padding 0 1rem
  //grid-area 50% 
  //display flex
  justify-content center
  background-color #cbcdc8;
  border-bottom 3px solid #98ca3f
  //margin 0
