.FullContainer
  align-items center
  padding 0 1rem
  grid-columns  1fr/5fr
 // margin auto 0

.SplitContainer
  padding 0 1rem
  //grid-area 50% 
  //display flex
  justify-content center
  background-color #cbcdc8;
  border-bottom 3px solid #98ca3f
  //margin 0
