.FullContainer
  padding 0 3rem
  background rgba(0,0,0,0)
  hr
    border-color #98ca3f
    width 5em
  &:hover
    hr
      width 15%

.SplitContainer
  margin 1rem 2em
  padding 0 1.5rem 
  background rgba(255,255,255,1)
  border-radius .5rem
  border-top 5px solid #98ca3f
  box-shadow: 0px 9px 17px 0px rgba(0,0,0,0.14);
  justify-content center
  @media (max-width: 1000px)
    margin 0;
