.Experience .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5em;
}

.Experience-item h4 {
    padding-bottom: 0.5em;
}

@media(min-width: 640px) {
    .Experience .container {
        grid-template-columns: 1fr 1fr;
        gap: 3em;
    }
}