.Experience
  borderContainerNormal()
  padding: 1rem 
  margin-bottom: 1rem
  .experience-list
    padding: 0
    list-style none
    display: flex
    align-items: center
    justify-content: space-around
    flex-wrap: wrap
    .Experience-item
      margin-top: 1rem
      padding: 1rem
      borderContainerThin()
      hr
        opacity .2
        width: 95%
