.Experience
  margin: 20px 0
  .Experience-title
    font-size: 20px
    color: #13bac3
  .Experience-container-items
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    .Experience-item
      padding: 10px
      max-width: 49%
      .Experience-company
        color: rgba(19, 186, 195, 0.571)
      .Experience-date
        display: flex;
        font-style: italic
      .Experience-jobTitle
        font-weight: bold

