@import '../_variables.styl'

.Experience
    background-color: primary-light
    
    &-title
        margin: 0
    &-description
        width: 35ch
    &-items
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(400px,1fr))
    &-item
        border-inline-start: 2px solid accent
        padding-inline-start: 2em
