@import '../_variables'

.Header
    background-color: primary
    &-container
        background-color: primary

        display: flex
        gap: 1.5em
        
        text-align: center

    &-title
        margin:0
        font-size: 2rem

    &-text
        margin-block: .5em
        font-size: 1.5rem
        color: accent
    
    &-img
        width: 25%
        display: grid
        place-items: center
    &-avatar
        max-width: 200px
