.Header-container
  text-align: center;
  background: #8da9c4;
  border-radius: 8px;
  padding: 16px;
  margin-bottom:16px;
  & img
    width: 100px;
    border-radius: 50%;

.Header-title
  color: white