.Header
  background-color: middle-color
  height: 10rem
  padding: 1rem
  display: flex
  align-items: center
  justify-content: space-between
  .Header-img-container
    height: 100%
    width: 20%
    .Header-image
      display: block
      margin-left: auto
      margin: auto
      border-radius: 50%
      height: 100%
      width: auto
      object-fit: cover
  .Header-info
    height: 100%
    background-color: red
    width: calc(80% - 1rem)
    .Header-title
      margin: 0
    .contact-info
      display: flex
      list-style none
      width: 50%
      justify-content: space-between
      padding-left: 0
