.Header    
  grid-area: header;
  padding-top 70px;
  display flex
  border-radius 10px
  border 1px solid #e0dfdc
  box-shadow 0 1px 0px 0px #00000008;
  background-color #ffffff
  background-image url('./../../assets/img/profile-background.jpg')
  background-size 900px;
  background-position-x center;
  background-position-y -35px;
  background-repeat no-repeat;

  &-photo
    width 200px
    height 200px
    object-fit contain
    background-color white
    border 5px solid white
    border-radius 100%
    margin 15px