.Header {
    background-color: #c2e6f9;
    align-items: center;
    grid-auto-columns: min-content;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.Header-avatar {
    grid-column: 1 / 1;
    grid-template-columns: 100px 1fr;
    text-align: center;
}
.Header-title {
    color: #47525e;
    margin: 0 0 0 0;
}

.avatar {
    border-radius: 50%;
    flex-wrap: wrap;
    padding: 2rem;
    width: 100px;
    height: 100px;
}