.Interests div {
    display: flex;
    flex-direction: column;
}

@media (min-width: 640px) {
    .Interests li {
        padding-right: 1em;
        color: var(--green-accent);
        width: 25%;
    }
    .Interests div {
        flex-direction: row;
    }
}