.Interest-container
    background-color #ecf3f3
    padding 20px
    border-radius 10px
    margin-top 10px
    width 100%

.Interest-list
    list-style none
    display grid
    grid-template-columns 1fr 1fr