.Interest
  margin: 40px 0
  width: 45%
  .Interest-title
    font-size: 20px
    color: #13bac3
  .Interest-container-items
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    .Interest-item
      padding: 10px
      max-width: 49%
