.Interests div {
    display: flex;
    flex-direction: column;
}

@media (min-width: 640px) {
    .Interests li {
        color: var(--green-accent);
        padding-bottom: 1em;
    }
    .Interests ul {
        flex-direction: row;
        max-width: 40em;
        margin: 0 auto;
    }
}