.Interest
  padding: .5rem
  borderContainerThin()
  .Interest-title
    text-align: center
    margin: 0
    font-size: 1.4rem
    text-decoration: underline
  ul li
    margin-bottom: .7rem
    font-weight: bold