@import '_vars'

.Experience-items
.Academic-items
.Certificate-items
    display: grid
    grid-template-columns: 1fr 1fr
    gap: gap-between

.job-company
.academic-degree
.certificate-institution
    font-weight: bold

.job-dates
.academic-dates
.certificate-date
    opacity 0.7

@media (max-width : max-width-1)
  .Experience-items
    grid-template-columns: 1fr