.About-item
    display:inline
    
.Item-title
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #C4C4C4;
    font-weight: bold;

.Item-content
    color: #4E565F;
    text-align: justify;

.Item-content p
    color: #57606B;
    font 14px/24px opensans-regular, sans-serif;

.double-column
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.5rem;