.Languages-section
  background #333344
  .Languages-grid
    display grid
    grid-template-columns 1fr 1fr
    align-items center
    p.Languages-item
      justify-self center
    progress
      height 25px