@import '../_variables.styl'

.Languages

    &-list
        list-style: none
        padding: 0

        display: grid
        gap: 2em

    &-item
        padding: 1em

    &-badge
        background-color: primary
        color: accent
        padding: .5em
        border-radius: 5px
        font-weight: bold;