.Profile
  color white
  font-family 'Montserrat', Arial, Helvetica, sans-serif;
  background #5885AF
  display flex;
  flex-direction column;
  padding-left 5px
  .Profile-desc
    color white
    padding-left 5px