$hex-platzi-color = #98ca3f
.Progress-bar
  background-color #ececec 
  border-radius 13px
  padding 3px

  div
    font-size .8em
    background-color $hex-platzi-color
    height 20px
    border-radius 10px
    small
      white-space nowrap
    
