// colors
color-leters=#acb9c8
back-color=#22272e
color-border=#444b57


borderContainerBold()
  border: 3px solid color-border
  border-radius: .4rem

borderContainerNormal()
  border: 2px solid color-border
  border-radius: .3rem

borderContainerThin()
  border: 1px solid color-border
  border-radius: .2rem