.Skills
    padding: 30px
    background-color: aliceblue
    border-radius: 15px

.Skills-content
    grid-template-columns: 24% 24% 24% 24%
    grid-gap: 2%
    display: grid

.Skills-item
    background-color: cornsilk
    text-align: center
    border-radius: 10%
    padding: 5px
