.Skills
  padding: .5rem
  borderContainerThin()
  .Skills-title
    text-align: center
    margin: 0
    font-size: 1.4rem
    text-decoration: underline
  .Skills-list
    .Skills-item 
      p
        margin-bottom: .2rem
        font-size: .8rem
        font-weight: bold
      span
        margin-left: .5rem
        font-size: .8rem
      progress
        width: 70%
