@import '../_variables.styl'

.Social
    &-list
        list-style: none
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin-block-start: 3em
    &-item
        background-color: primary-light
        color: secondary
        text-decoration: none

        padding-block: .7em;
        padding-inline: 1.5em;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: .9rem;
    
    &-item:hover
        opacity: 0.8
        background-color: accent
        

        