:root {
  --primary: #3da9fc;
  --secondary: #d8eefe;
  --white: #fffffe;
  --gray1: #c4c4c4;
  --gray2: #5f6c7b;
  --gray3: #90b4ce;
  --contrast1: #2b79bd;
  --contrast2: #094067;
  --contrast3: #ef4565;
}