.about-section {
  width: 100%;
  .typing-name {
    width: 580px;
    animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    color: rgba(195, 195, 190, 1) !important;
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  p {
    width: 100%;
    font-size: 15px;
  }
}
