.experience-section {
  width: 100%;
  &::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 20px;
    top: -10px;
    left: -20px;
    border-radius: 20px;
    min-height: 10px !important;
    background-color: rgba(220, 147, 115, 0.5);
    transition: all 500ms;
  }
  li {
    width: 49%;
    list-style: none;
    .experience-item {
      background-color: #32383e;
      .title {
        font-size: 20px;
      }
      .company {
        font-size: 17px;
      }
      .year {
        font-size: 17px;
        font-weight: lighter;
      }
      p {
        font-size: 15px;
      }
    }
  }
}
