@use './variables' as *;

@mixin vertical-title($height) {
    transform: scale(-1);
    writing-mode: vertical-rl;
    position: relative;

    &::after {
        content: '';
        background-color: $color-accent;
        width: .1rem;
        height: $height;
        inset: auto 0;
        margin: auto;
        margin-top: .5em;
        position: absolute;
    }
}

@mixin block-mark {
    padding-left: 1em;

    &::before {
        content: '';
        height: 100%;
        width: .5rem;
        position: absolute;
        background-color: $color-accent;
        left: -.1em;
    }
}

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-down {
    @media (max-width: 700px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}