// $color-background: hsl(209, 100%, 12%);
$color-bg: (
    "light": hsl(209, 50%, 30%),
    "neutral": hsl(209, 60%, 20%),
    "dark": hsl(209, 60%, 12%)
);

$color-text: hsl(75, 60%, 95%);
$color-accent: hsl(355, 50%, 40%);