.Profile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  &-title {
    width: 100%;
    font-size: 48px;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  &-desc {
    width: 100%;
    font-size: 32px;
    text-align: justify;
  }
}