@use "../../../styles/vars" as *;
@use "../../../styles/mixins" as *;

.Experience-item {
    & > h3 {
        font-weight: 2.8rem;
        font-weight: $bold;
    }
    & > strong {
        display: inline-block;
        margin: 2rem 0 4rem 0;
        & a {
            @include linkStyle;
        }
    }
    & > p {
        line-height: 2;
    }
}