@import '../_variables.styl';

.ColumnLayout
    position: relative
    color: primary
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 5em
    
.ColumnLayout + .ColumnLayout::before
    background-color: secondary
    position:absolute
    content:''
    top:0
    left: 50%
    transform: translateX(-50%)
    width: 60%
    height: .15rem
    margin-inline: auto

@media (max-width: 700px)
    .ColumnLayout
        display: block