*
  font-family 'Poppins', sans-serif;
  box-sizing border-box
  padding 0
  margin 0

body
  background-color #EAD7D1
  margin 2rem

.card
  color white
  padding 2rem
  border-radius 5px
  margin-top 1rem

.d-flex
  display: flex
  gap: 1rem

.bg-dark
  background #7B506F

.bg-black
  background #1F1A38

.bg-primary
  background #DD99BB

.bg-secondary 
  background #C9F299

.avatar
  width: 100px
  height: 100px
  border-radius: 50%

.m-5 {
  margin-right 5px
}

a {
  color white
}

#w-50 {
  width: 50%
}