:root {
  --color-gray: #252627;
  --color-high-green: #67e813;
  --color-green: #1dbf5e;
  --white: #f2f2f2;
  --side-bar-width: 75px;
  --default-font: 'Josefin Sans';
}

b {
  color: var(--color-high-green);
}
body {
  color: var(--white);
  background-color: var(--color-high-green);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Box {
  min-height: 150px;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-gray);
  box-shadow: 13px 15px 5px -8px rgba(0, 0, 0, 0.25);
}
.Box-title {
  font-size: 40px;
}
.Header-container {
}
.Header-avatar {
  margin: 5px;
}
.Header-avatar img {
  border-radius: 50%;
}
.Header-title {
  font-size: x-large;
}
.About-item {
}
.About-title {
}

.vite-grid {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'label0 label0'
    'label1 label1'
    'label2 label2'
    'label3 label4'
    'label5 label6';
  gap: 0px;
  height: 100%;
}

.item-0 {
  grid-area: label0;
}
.item-1 {
  grid-area: label1;
}
.item-2 {
  grid-area: label2;
}
.item-3 {
  grid-area: label3;
}
.item-4 {
  grid-area: label4;
}
.item-5 {
  grid-area: label5;
}
.item-6 {
  grid-area: label6;
}

.Percentage-container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
  border-radius: 50px;
}

.Percentage-graph {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  border-radius: 50px;
  color: var(--white); /* White text color */
  background-color: var(--color-green);
}
