*
  font-family 'Poppins', sans-serif;
  box-sizing border-box
  padding 0
  margin 0

body
  background-color #EAD7D1
  margin 2rem

.card
  color white
  padding 2rem
  border-radius 5px
  margin 1rem

.bg-dark
  background #7B506F

.bg-black
  background #1F1A38

.bg-primary
  background #DD99BB

.bg-secondary 
  background #C9F299