.Experience-title {
    color: #7a7894;
    font-size: 1.4rem;
    font-weight: medium;
}

.Experience-item {
    color: #4f4f50;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: normal;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom:15px;
}