container-base()
    padding: 1em 2em
    padding-left 3em
    color: var(--md-sys-color-secondary)
    box-shadow: 3px 3px 7px 3px rgba(0,0,0,0.39);
    -webkit-box-shadow: 3px 3px 7px 3px rgba(0,0,0,0.39);
    -moz-box-shadow: 3px 3px 7px 3px rgba(0,0,0,0.39);

title-base()
    font-size: var(--size-title)
    margin: 0.5em 0 0.75em