.Skills-title {
    color: #7a7894;
    font-size: 1.4rem;
    font-weight: medium;
    margin-top:30px;
}

.Skills-item {
    color: #4f4f50;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: normal;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom:15px;
}

.skills-container-right {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom:30px;
    margin-top:30px;
}

.skills-right {
    display: flex;
    
}

.skills-right-items {
    display: flex;
    flex-direction: column;
    width:80%;
    margin-left: 80px;
    
}
.Skills-item {
    display: flex;
    flex-direction: column;
    margin-left:20px;
}

.subtitle {
    font-size: 1.4rem;
    color: #4f4f50;
    font-weight: medium;
    width:20%;
}

@media screen and (min-width: 768px) {
    .Skills-title {
        color: #7a7894;
        font-size: 1.4rem;
        font-weight: medium;
        margin-top:30px;
    }
    
    .Skills-item {
        color: #4f4f50;
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: normal;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom:15px;
    }
    
    .skills-container-right {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-bottom:30px;
        margin-top:30px;

    }
    
    .skills-right {
        display: flex;
        
    }
    
    .skills-right-items {
        display: flex;
        width:40%;
        flex-direction: row;
        
    }
    .Skills-item {
        display: flex;
        flex-direction: column;
        margin-left:20px;
    }
    
    .subtitle {
        font-size: 1.4rem;
        color: #4f4f50;
        font-weight: medium;
        width:auto;
    }
}