@import './global.styl';
@import './components/app.styl';
@import './components/about.styl';
@import './components/academic.styl';
@import './components/experience.styl';
@import './components/header.styl';
@import './components/interest.styl';
@import './components/languages.styl';
@import './components/profile.styl';
@import './components/skills.styl';
