.Skills {
  &-title {
    font-size: 45px;
    font-weight: 300;
    margin: 1rem;
    text-align: center;
  }
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 15px;
    background-color: #102189;
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    word-spacing: 3px;
  }
}