.card {
  padding: 1rem 1.5rem;
  color: white;
  border-radius: calc(var(--radius-1) * 3px) calc(var(--radius-1) * 1px)
    calc(var(--radius-1) * 3px) 0;
  line-height: 2.2;

  h4 {
    margin-bottom: 1rem;
  }

  p {
    font-size: 0.9rem;
  }

  &Primary {
    background-color: var(--primary-color-200);
  }

  &Secondary {
    background-color: var(--secondary-color-500);
  }
}
