.About-title
  display: inline
  text-shadow: 0 0 64px rgb(255 0 255), 0 0 16px rgb(0 0 255 / 84%)
 
.About-item
  padding-left: 30px
  padding-top: 2px
  padding-bottom: 2px  
  margin: 0px
  height: 30px
  background-image: linear-gradient(to right, #4178FF, #00ff84);
  border: 0 solid