@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;

.Header {
    @include sectionStyle;
    &-title {
        font-size: 5.6rem;
    }
    & > p {
        @include subtitle;
        font-weight: $semi-bold;
        margin: 2rem 0 6rem 0;
    }
    & > ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        & li {
            & > a {
                @include linkStyle;
            }
        }
        & li:nth-child(even) {
            margin: 3.2rem 0;
        }
        & > li:last-child {
            margin-bottom: 6rem;
        }
    }
}