
.header
  background #DEE2E6
  display inline-flex
  border-radius 1rem
  margin-bottom 1rem

.header-img
  width 30%
  border-radius 50%
  padding 1rem
  display flex
  justify-content center
  align-items center

.header-img img
  margin auto
  width 100%
  border-radius 50%

.header-box
    width 70%
    padding 2rem
    & p
      margin-bottom 0.5rem

.Header-title
  margin-bottom 1rem