
img  
  box-shadow: 0px 10px 14px rgba(0, 0, 0, .2);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 10vh; 
  // border: 10px  white; TO DO

.Header-title
  // Resaltar titulo Nombre TO DO
  object-position: center
  font-size: 1.5em
  text-shadow: 0 0 64px rgb(192 219 255 / 48%), 0 0 16px rgb(65 120 255 / 24%)

.Container-Header
  display: flex;
  gap: .5rem;
  align-items: center;
  padding: 20px;
  