p 
  margin: 0
.Header 
  &-title
    & img 
      border-radius: 50%;
      inline-size: 5rem;
      block-size: 5rem;
    & h1
      font: var(--headline3);
      margin-block: 1rem;
      color: var(--contrast2);
    & h5
      color: var(--gray2);
      margin-block: 1.5rem
  &-details
    display: flex
    gap: 0.5rem

.email
  color: var(--contrast3);
  text-decoration: none;

.website
  font-weight: bold