p, h5
  margin: 0
.Interest
  &-title
    background-color: var(--contrast2)
    color: var(--white);
  &-item
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    margin-block-end: 1rem;
    gap: 1rem;
    &-title
      font: var(--headline3);
      color: var(--white);
      text-decoration: none;

hr
  border: none;
  block-size: 1px;
  background-color: white;
  border-radius: 1rem;