svg,
circle 
  width: 9.375rem;


.Skills
  &-title 
    background-color: var(--secondary)
    color: var(--contrast2);
    hr
      background-color: var(--contrast2); 
  &-container
    display: flex
    justify-content: space-between
    padding-block: 1rem
    gap: 2rem

.progress 
  display: flex;
  align-items: center;
  gap: 1rem
  &_value
    font-size: 3rem

circle 
  fill: white;
  height: 9.375rem;
  transform: translate(5px, 5px);
  stroke-width: 10;
  stroke-dasharray: 440;
  stroke-linecap: round;

