.Languages
  background #DEE2E6
  border-radius 1rem
  padding 1rem
  margin-bottom 1rem
  display inline-flex
  flex-wrap wrap
  width 100%
  justify-content space-around

.Languages-title
  width 100%

.Languages-item
  width 12%
  margin-top 1rem