.Interest {
  &-title {
    font-size: 45px;
    text-align: center;
  }
  &-item {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 15px;
    background-color: #102189;
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    word-spacing: 3px;
  }
}