/* montserrat-200 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('../assets/fonts/montserrat-v24-latin-200.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../assets/fonts/montserrat-v24-latin-200.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../assets/fonts/montserrat-v24-latin-200.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../assets/fonts/montserrat-v24-latin-200.woff') format('woff'),
        /* Modern Browsers */
        url('../assets/fonts/montserrat-v24-latin-200.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../assets/fonts/montserrat-v24-latin-200.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/montserrat-v24-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../assets/fonts/montserrat-v24-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../assets/fonts/montserrat-v24-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../assets/fonts/montserrat-v24-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../assets/fonts/montserrat-v24-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../assets/fonts/montserrat-v24-latin-regular.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/montserrat-v24-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../assets/fonts/montserrat-v24-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../assets/fonts/montserrat-v24-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../assets/fonts/montserrat-v24-latin-600.woff') format('woff'),
        /* Modern Browsers */
        url('../assets/fonts/montserrat-v24-latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../assets/fonts/montserrat-v24-latin-600.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

body {
    font-family: 'Montserrat';
}

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.1;
}

h2 {
    font-size: 2rem;
    line-height: 1.6;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.6;
}